html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.maskBanner{
  mask-image: linear-gradient(to bottom ,rgba(0,0,0,1),rgba(0,0,0,0.6));
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind Components;
@tailwind utilities;

@layer Components{
  .categoryCards{
  @apply flex flex-col items-center mt-10 cursor-pointer
  }
  .pagination {
    @apply flex flex-row justify-center space-x-4 mt-6 mb-3
  }
  .tag{
    @apply bg-gray-200 inline-block text-gray-600 text-xs  rounded-sm px-1 mr-1 
  }
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  
  display: flex;
  justify-content: center;
  font-size: 25px;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #3f51b5;
  border-radius: 20%;
}


.page-selection {
  width: 48px;
  height: 30px;
  color: #FFFF;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}